<a href="/member" class="text-blue-500 hover:text-blue-700 mr-3">&larr; back to dashboard</a>

<h1 class="text-3xl mt-3">All Authors Listing</h1>

<form action="/member/authors" method="get" class="mb-4">
    <div class="inline-flex items-center bg-sky-200 rounded-md border border-black mt-3">        
        <button type="submit" class="flex flex-col justify-center px-1">
            <ion-icon name="search-outline" class="text-lg hover:cursor-pointer hover:text-blue-900 transition-all ease-in"></ion-icon>
        </button>
        
        <input type="text" name="name" id="name" value="<%= searchName %>" class="px-2 border-l border-r border-black"></input>
        
        <button class="flex flex-col justify-center" onclick="document.getElementById('name').value = ''">
            <ion-icon name="close-outline" class="text-2xl  hover:cursor-pointer hover:text-blue-900 transition-all ease-in"></ion-icon>
        </button>
    </div>
</form>

<% authors.forEach(author => { %>
    <div class="w-full bg-sky-200 px-2 mb-2 py-1 max-w-lg rounded-md border border-black flex items-center justify-between">
        <ion-icon name="person-circle-outline" class="text-2xl"></ion-icon>

        <h3 class="text-lg mr-2"><%= author.name %></h3>
            
        <div class="flex items-center *:mr-1">
            <a href="/member/authors/<%= author._id %>" class="px-2 bg-gray-200 rounded-md border border-black hover:bg-gray-400 transition-all ease-in">View</a>
        </div>
    </div>
<% }) %>