<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pustakaku</title>
    <link href="https://unpkg.com/filepond@^4/dist/filepond.css" rel="stylesheet" />
    <link
    href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <!-- <link rel="stylesheet" href="/stylesheets/tailwind-output.css"> -->
</head>
<body>
    <%- include('../partials/staff-navbar.ejs') %>
    <div class="main-container">
        <%- body %>
    </div>
    <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
    <script src="https://unpkg.com/filepond@^4/dist/filepond.js"></script>
    <script src="/javascripts/FileUpload.js"></script>
    <script>
        const navToggleBtn = document.querySelector('.hamburger')
        navToggleBtn.addEventListener('click', () => {
            const navLinks = document.querySelector('.navbar-links')
            navLinks.classList.toggle('active')
        })
    </script>
</body>
</html>