<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pustakaku</title>
    <link href="https://unpkg.com/filepond@^4/dist/filepond.css" rel="stylesheet" />
    <link
    href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet"/>

    <!-- Tailwind -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/tailwind-output.css">

    <!-- Font -->
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600&display=swap" rel="stylesheet">

    <style>
        *, *::after, *::before{
            font-family: 'Nunito', sans-serif;
        }
    </style>
</head>
<body>
    <%- include('../partials/member-navbar.ejs') %>
    <div class="main-container">
        <%- body %>
    </div>
    <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
    <script src="https://unpkg.com/filepond@^4/dist/filepond.js"></script>
    <script src="/javascripts/FileUpload.js"></script>
    <script>
        const navToggleBtn = document.querySelector('.hamburger')
        navToggleBtn.addEventListener('click', () => {
            const navLinks = document.querySelector('.navbar-links')
            navLinks.classList.toggle('active')
        })
    </script>
</body>
</html>