<h1><%= book.title %></h1>
<p style="color: green ;">available</p>
<img src="<%= book.coverImageRender %>" height="250">
<p><%= book.description %></p>
<p>Page Number : <%= book.pageCount %></p>
<a href="#" class="btn">Read online</a>
<button class="btn">Rent book</button>