<div class="library-analytics">
    <h2>Book Analytics</h2>
    <h3>Total books           : 102</h3>
    <h3>Total books available : 83</h3>
    <h3>Total members         : 24</h3>
    <a class="btn" href="/user">See detailed analytics</a>
</div>

<br>
<div class="library-menu">
    <h2>Main Menu</h2>
    <div class="menu-item">
        <a href="/user/books" class="btn">See all books</a>
    </div>
    <br>
    <div class="menu-item">
        <a href="/user/books" class="btn">See book analytics</a>
    </div>
    <br>
    <div class="menu-item">
        <a href="/user/books/new" class="btn">Add new book</a>
    </div>
    <br>
    <div class="menu-item">
        <a href="/user" class="btn">See books lending</a>
    </div>
    <br>
    <div class="menu-item">
        <a href="/user" class="btn">See transaction history</a>
    </div>
    <br>
    <div class="menu-item">
        <a href="/user/authors/" class="btn">See all authors</a>
    </div>
    <br>
    <div class="menu-item">
        <a href="/user/authors/new" class="btn">Add new author</a>
    </div>
</div>

<br>
<br>
<div class="">
    <h2>Recently added books</h2>
    <div class="books-listing">
        <% books.forEach(book => { %>
            <a href="/user/books/<%= book._id %>">
                <img src="<%= book.coverImageRender %>" height="150" width="100">
            </a>
        <% }) %>
    </div>
</div>