<form action="/login" method="post">
    <label for="email">Email : </label>
    <br>
    <input type="email" name="email" id="email">

    <br>
    <label for="password">Password :</label>
    <br>
    <input type="password" name="password" id="password">

    <br>
    <a href="/register">Create an account</a>
    <button type="submit">Login</button>
</form>