<form action="/auth/login" method="post">
    <label for="email">Email : </label>
    <br>
    <input type="email" name="email" id="email" required>

    <br>
    <label for="password">Password :</label>
    <br>
    <input type="password" name="password" id="password" required>

    <br>
    <a href="/auth/register">Create an account</a>
    <button type="submit">Login</button>
</form>